.body{
    margin: 0px;
   padding: 0px; 
}
*{
   box-sizing: border-box;
}
.container{
    display: flex;
    row-gap: 5px;
    column-gap: 5px;
    flex-wrap: wrap;
    background-color: lightpink;
    padding: 20px;
    margin:2px;
    justify-content: center;
}
.item{
    width: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 300px;
overflow: hidden;
margin: 10px;
margin-left: 20px;
margin-bottom: 20px;
margin-right: 20px;
margin-top: 20px;
border-radius: 5px;
border: 2px solid maroon;
}
img{
    width: 100%;  
    height: 300px;
    transition: transform 1s ease,filter 0.5s ease;
    object-fit: cover;
}
img:hover {
    transform: scale(1.2);
    filter: brightness(1.5); 
    filter: grayscale(1);
}


